@import './color.scss';
.header {
  border-bottom: 1px solid #eee;
  .innerBox {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul > li > a {
      display: flex;
      align-items: center;
      margin-left: 60px;
      &:hover {
        color: $main-color;
      }
    }
    .naviMenu > li > a {
      position: relative;
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: 3px;
      }
      &:hover::after {
        background-color: $main-color;
      }
    }
    .btn_header_main {
      height: 100%;
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn_header_main_on {
      color: white;
      background-color: $main-color;
    }
    .btn_header_main_off {
      color: $main-color;
      background-color: #f0f0f0;
    }
  }
}
.header_ques {
  font-family: 'KoPubWorld-Batang-Medium';
  .innerBox {
    ul > li > a {
      img {
        margin-right: 7px;
      }
    }

    .blank {
      width: 17%;
    }
    .btn_header_main {
      font-size: 18px;
      img {
        margin-right: 12px;
      }
    }
  }
}

.header_res {
  font-family: 'Pretendard-SemiBold';
  .innerBox {
    .blank {
      width: 50%;
    }
  }
}
