@import './palette.scss';


.all {
  height: calc(100vh - 61px);

  display: flex;
  .main_img {
    width: 35%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
  .info_area {
    width: 65%;
    padding-top: 150px;
    padding-left: 150px;
    overflow: hidden;
  
    .info_container {
      text-align: left;

      .first_info {
        color: $main-color;
        font-size: 25px;
        font-family: $res-font-bold;
      }
      .second_info {
        padding-top: 15px;
        font-size: 45px;
        font-family: $ques-font-light;
        span {
          font-family: $ques-font-bold;
        }
      }
      .third_info {
        padding-top: 15px;
        font-size: 18px;
        color: #000000;
        font-family: $ques-font-light;
      }
    }
    .button_container {
      padding-top: 20px;
      text-align: left;
      padding-bottom: 120px;
      //cursor: pointer;
      button {
        position: relative;
        z-index: 100;
        cursor: pointer;
        width: 295px;
        height: 50px;
        background-color: $main-color;
        color: white;
        border-radius: 10px;
        font-size: 20px;
        font-family: $ques-font-bold;
        border: white;
      }
      .login-page{
        cursor: pointer;
      }
    }
    .img_container {
      top : -100px;
      left: -150px;
      transform: rotate(25deg);
      //padding-top: 150px;
      overflow: hidden;
      position: relative;
      .phone_img {
        object-fit: cover;
        z-index: 1;
        width: 500px;
      }
      .swiper{
        top: -950px;
        width: 400px;
        height: 600px;
        left: 0px;
        z-index: 2;
        .swiper-slide{
          display: flex;
          justify-content: center;
          width: 400px;
          img{
            margin: auto;
            object-fit: cover;

          }
        }
        .swiper-button-prev{
          display: none;
        }
        .swiper-button-next{
          display: none;
        }
      }
    }
  }
}
