@import './palette.scss';

.form_row{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
  max-width: 530px;
  .form_row_title{
    width: 140px;
    font-size: 20px;
    text-align: right;
    font-family: 'KoPubWorld-Batang-Medium';
  }
  .form_row_content{
    margin-left: 10px;
    width: calc(100% - 120px);
    
    input{
      height: 40px;
      width: 100%;
      font-family: 'KoPubWorld-Batang-Medium';
      font-size: 20px;
      padding-left: 10px;
    }
    input::placeholder{
      
      font-family: 'KoPubWorld-Batang-Medium';
      color:#999999;
    }
  }
  .include_btn{
    display: flex;
    button{
      // padding-left: px;
      width: 200px;
      // height: 40px;
      font-size: 20px;
      cursor: pointer;
      font-family: $ques-font-default;
    }
  }
}

.btn_set{
  padding-top: 100px;
  display: flex;
  justify-content: center;
 
  .btn_before{
    width: 160px;
    height: 60px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: #FF6D6D;
    border: 1px solid #FF6D6D;
  }
  .btn_after{
    width: 160px;
    height: 60px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FF6D6D;
    color: white;
    border: 1px solid white;
  }
}

.all{
  display: flex;
  justify-content: center;
  text-align: center;
  .container{
    
    .info{
      padding-top: 200px;
      font-size:40px;

    }
    .join_wrap{
      padding-top: 100px;
      width: 600px;

      .comment_rule{
        text-align: left;
        padding-left: 140px;
        font-size: 18px;
        padding-bottom: 5px;
        color:#999999;
        font-family: 'KoPubWorld-Batang-Medium';
        .material-symbols-outlined{
          size: 40px;
          vertical-align: middle;
        }
      }
    }
  }
}