@import './font.scss';
@import './palette.scss';
// .login_wrap{
//   width: 500px;
//   // display: flex;
//   // justify-content: center;
// }
.btn_set{
  button  {
    width: 410px;
    height: 58px;
    border-radius: 5px;
    border: white;
    font-size: 20px;
    font-family: 'KoPubWorld-Batang-Bold';
    cursor: pointer;
  }
}


.all{
  // height: 1080px;
  // width: 1440px;

  display: flex;
  justify-content: center;
  
  .container{
    
    .info{
      padding-top: 200px;
      display: flex;
      justify-content: center;
      font-size:40px;
      font-family: 'KoPubWorld-Batang-Medium';
    }
    .login_top{
      padding-top: 100px;
      padding-bottom: 50px;
      .login_wrap{
        width: 500px;
        display: flex;
        justify-content: center;
        form{
          .login_form_row{
            padding-top: 20px;
           
            input{
              width: 410px;
              height: 50px;
              font-size: 20px;
              padding-left: 10px;
              font-family: 'KoPubWorld-Batang-Medium';
            }
            input::placeholder{
              font-family: 'KoPubWorld-Batang-Medium';
              color:#999999;
            }
          }
          .comment_rule{
            text-align: left;
            padding-top:5px;
            font-family: 'KoPubWorld-Batang-Medium';
            font-size: 18px;
            color:#999999;
            .material-symbols-outlined{
              size: 40px;
              vertical-align: middle;
            }
          }

          .login_btn{
            padding-top: 15px;
            display: flex;
            justify-content: center;
            .member_login{
              background: $gradient-color;
              color : white;
            }
            .kakao_login{
              background-color: #FFE84F;
            }
          }
        }
      }
    }
    
    .login_bottom{
      
      width: 500px;
        display: flex;
        justify-content: center;

      .login_wrap{
        
        .comment_join{
          padding-top: 50px;
          font-size: 20px;
          display: flex;
          justify-content: center;
          font-family: 'KoPubWorld-Batang-Medium';
        
        }
        .join_btn{
          padding-top: 15px;
          .member_join{
            background-color: white;
            color : #FF6D6D;
            border: 3px solid #FF6D6D;
            
          }
        }
      }
    }
  }
  
}