@import './palette.scss';
.mypage_ques {
  display: flex;
  flex-direction: column;
  a {
    font-family: $ques-font-default;
  }
  .profile {
    margin: auto;
    .imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .basic_profile_img {
        width: 220px;
        margin-top: -60px;
      }
      a {
        color: #999;
        text-decoration: underline;
      }
    }
    .nameBox {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      p {
        font-size: 26px;
        margin-right: 10px;
      }
      a {
        color: #999;
        text-decoration: underline;
      }
    }
  }
  .info {
    li {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #eee;
      p {
        font-weight: 600;
      }
      a {
        color: $main-color;
        text-decoration: underline;
      }
    }
  }
  .logout {
    color: #999;
    margin-top: 50px;
    a {
      color: #999;
      margin: 0 10px;
    }

    display: flex;
    justify-content: center;
  }
}

.profile_box {
}

.res_title {
  margin: 30px 0 20px;
  font-size: 20px;
}
.mypage_res {
  .my_info {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    position: relative;

    span.pink {
      color: $main-color;
      font-family: $res-font-bold;
      margin-right: 10px;
    }
    .my_info_profile {
      .profile_box {
        position: relative;
      }
      img {
        display: block;
        width: 100px;
      }
      .btn_edit {
        position: absolute;
        bottom: 5px;
        right: 7px;
        background-color: $main-color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        div {
          position: relative;
          width: 30px;
          height: 30px;
          img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .my_info_text {
      margin-left: 30px;
      .acconut {
        position: absolute;
        top: 30px;
        right: 25px;
        width: 220px;
        color: #999;
        font-family: $res-font-bold;
        a {
          color: #999;
        }
      }
      .major {
        color: #999;
        margin: 8px 0 35px 0;
        font-size: 16px;
      }
      .spec {
        margin-bottom: 15px;
        font-size: 18px;
        font-family: $res-font-bold;
        li {
          margin-right: 20px;
        }
      }
      p {
        margin-bottom: 15px;
      }
      .intro {
        margin-bottom: 0px;
        line-height: 1.5;
      }
    }
  }
  a.manageBox {
    position: relative;
    width: 49%;
    margin-top: 25px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    .manageTextBox {
      div p:first-child {
        font-size: 18px;
        margin-bottom: 5px;
        font-family: $res-font-bold;
      }
    }
    .picture {
      padding-top: 30px;
      padding-right: 30px;
      justify-content: flex-end;
    }
  }
}

.mypartner_container {
  display: flex;
  justify-content: space-between;

  .my_partner_comp {
    position: relative;
    display: flex;
    align-items: flex-start;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 49%;
    img.profile_img {
      width: 110px;
      padding: 10px 20px;
    }
    .partnerBox {
      padding: 15px 0px;
      .name {
        font-size: 22px;
        font-weight: 600;
      }
      .major {
        color: #999;
        margin: 5px 0 3px 0;
        font-size: 16px;
      }
      .etc {
        margin-top: 10px;
        color: #999;
        font-weight: 500;
        span:first-child {
          color: $main-color;
          font-size: 20px;
          font-weight: 600;
          margin-right: 20px;
        }
        span:last-child {
          margin-left: 20px;
        }
      }
    }
    .btn_gradient_cut {
      img {
        width: 22px;
        margin-right: 5px;
      }
      display: flex;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      padding: 10px 20px;
      font-weight: 600;
    }
  }
}

.myresponse_container {
  .filter_box {
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 18%;
    padding: 20px 30px;
    height: 180px;
    li {
      margin: 15px 0;
      a:hover,
      a.default {
        font-weight: 600;
        color: $main-color;
      }
    }
  }
  .list_box {
    width: 80%;
    .search_box {
      position: relative;
      margin-bottom: 20px;
      .search-input {
        background-color: #f8f8f8;
        width: 100%;

        font-size: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
      }
      &::before {
        cursor: pointer;
        content: url('../../public/img/search-icon.svg');
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 1.5%;
        transform: translateY(-50%);
        z-index: 1000000;
      }
    }
    .question_box {
      position: relative;
      display: block;
      padding: 30px 0;
      border-bottom: 1px solid #eee;
      .pink_txt {
        display: flex;
        align-items: center;

        color: $main-color;
        span.time {
          color: #999;
          margin-left: 10px;
        }
        .money {
          background-color: #999;
          border-radius: 5px;
          padding: 3px 5px;
          font-size: 12px;
          color: #fff;
          margin-right: 8px;
        }
      }
      .title {
        font-size: 20px;
        font-family: $res-font-black;
        margin: 8px 0;
      }
      .content {
        margin-top: 20px;
        line-height: 1.5;
      }
      .gradient_btn {
        position: absolute;
        top: 30px;
        right: 0px;
      }
    }
  }
}
