@import './palette.scss';

.shortcut_bar {
  width: 100%;
  height: 64px;
  background: linear-gradient(to right, #ffaa6d, $main-color, #a1c7ff);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;

  div {
    width: 10px;
  }

  p {
    font-family: $ques-font-default;
    color: #fff;

    &.highlight {
      color: #fff848;
    }
  }
}

.inner {
  p {
    font-family: $ques-font-default;
  }
}

.notice_main {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .side_section {
    width: calc(220 / 1040 * 100%);

    .menu {
      display: flex;
      height: 48px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 10px;

      img {
        width: 22px;
        margin: 0 12px;
      }

      .icon.hover {
        display: none;
      }

      &.active {
        background-color: #f8f8f8;

        p {
          color: $main-color;
          font-size: 900;
        }
        .icon.default {
          display: none;
        }
        .icon.hover {
          display: block;
        }
      }

      &:hover {
        border: 2px solid #c6c6c6;
      }
    }
  }
  .main_section {
    width: calc(790 / 1040 * 100%);

    .notice_list-section {
      margin: 45px 0;

      .notice_box {
        display: flex;
        font-family: 'KoPubWorld-Batang-Light';

        div {
          margin: 0;
        }

        .notice-title {
          display: flex;
          margin: 0 18px;
          width: 90%;

          div:nth-child(1) {
            margin-right: 10px;
            font-family: $ques-font-bold;
          }
        }
      }
    }
  }
}

.ques_title {
  .article {
    font-family: $ques-font-default;

    &.date {
      font-size: 20px;
      color: #999999;
    }
  }
}
.article-content {
  margin: 60px 0;

  .content {
    font-family: 'KoPubWorld-Batang-Light';
  }
  span {
    display: block;
    word-break: keep-all;
  }
}

.article-control {
  margin: 36px 0;

  .prev_page,
  .next_page {
    display: flex;
    font-size: 18px;
    margin: 14px 0;
    cursor: pointer;

    p:nth-child(1) {
      margin-right: 20px;
    }
    p:nth-child(2) {
      font-family: $ques-font-bold;
    }

    .no_article {
      color: #999999;
    }
  }
}

.article-button_section {
  display: flex;
  justify-content: center;
  margin-bottom: 82px;
}
