@import './palette.scss';

.shortcut_bar {
  width: 100%;
  height: 64px;
  background: linear-gradient(to right, #ffaa6d, $main-color, #a1c7ff);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  div {
    width: 10px;
  }

  p {
    font-family: $ques-font-default;
    color: #fff;

    &.highlight {
      color: #fff848;
    }
  }
}

.inner {
  p {
    font-family: $ques-font-default;
  }
}

.notice_main {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .side_section {
    width: calc(220 / 1040 * 100%);

    .menu {
      display: flex;
      height: 48px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 10px;

      img {
        width: 22px;
        margin: 0 12px;
      }

      .icon.hover {
        display: none;
      }

      &.active {
        background-color: #f8f8f8;

        p {
          color: $main-color;
          font-size: 900;
        }
        .icon.default {
          display: none;
        }
        .icon.hover {
          display: block;
        }
      }

      &:hover {
        border: 2px solid #c6c6c6;
      }
    }
  }
  .main_section {
    width: calc(790 / 1040 * 100%);

    .search_section {
      width: 100%;
      height: 50px;

      .search-icon {
        cursor: pointer;
        position: relative;
        bottom: 34px;
        left: 18px;
      }

      .search-input {
        border-style: none;
        background-color: #f8f8f8;
        width: 100%;
        height: 100%;
        font-family: $ques-font-default;
        padding: 0 48px;

        &:focus {
          outline-color: #c6c6c6;
        }
      }
    }

    .notice_list-section {
      margin: 45px 0;

      .notice_box {
        display: flex;
        font-family: 'KoPubWorld-Batang-Light';

        div {
          margin: 0;
        }

        .notice-title {
          display: flex;
          margin: 0 18px;
          width: 90%;

          div:nth-child(1) {
            margin-right: 10px;
            font-family: $ques-font-bold;
          }
        }
      }
    }
  }
}
