// color-palette
$main-color: #ff6d6d;

// font-palette
$ques-font-default: 'KoPubWorld-Batang-Medium';
$ques-font-bold: 'KoPubWorld-Batang-Bold';

$res-font-default: 'Pretendard-Medium';
$res-font-bold: 'Pretendard-SemiBold';
