@import './palette.scss';

.question_board {
  .board-type {
    display: flex;
    margin-bottom: 24px;

    div {
      margin-right: 15px;
    }
  }

  .board-filter {
    border: 1px solid #dddddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding: 0 32px;

    .toggle_section {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .search_section {
    margin: 20px 0;
  }

  .questionBox {
    margin-bottom: 35px;

    .question {
      border: 1px solid #dddddd;
      border-radius: 10px;
      margin-bottom: 20px;
      height: 208px;
      padding: 35px 30px;

      &:last-child {
        margin: 0;
      }

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .question_header {
        justify-content: space-between;

        .question_property {
          .question_property_point {
            height: 22px;
            width: 38px;
            background-color: #bbbbbb;
            border-radius: 3px;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $res-font-default;
          }
          .question_property_type {
            color: $main-color;
          }
          .question_property_date {
            color: #999999;
          }
        }

        .question_control {
          cursor: pointer;
          gap: 16px;

          p {
            color: $main-color;
          }
        }
      }
      .question_title {
        margin: 10px 0 20px 0;
        p {
          font-size: 28px;
        }
      }
      .question_footer {
        justify-content: space-between;
        align-items: flex-end;

        .question_detail {
          width: 80%;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .question_counts {
          gap: 20px;
        }
      }
    }
  }
}
