// 기본적으로 지정하려는 scss 설정
@import './palette.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.innerBox {
  width: 80%;
  margin: 0 auto;

  p {
    font-family: $ques-font-default;
  }
}

.divide-line {
  background-color: #999999;
  width: 1.5px;
}

.divide-list {
  background-color: #999999;
  width: 100%;
  height: 1px;
  margin: 26px 0;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;

  li {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;

    &.active {
      background-color: $main-color;
      color: #fff;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.flexBtw {
  display: flex;
  justify-content: space-between;
}

.btn_main {
  color: white;
  background-color: $main-color;
}

// questioner page
.ques_navbar {
  margin-top: 50px;
  display: flex;

  li {
    font-family: $res-font-default;
    font-size: 16px;
    margin: 0 8px;

    &:hover {
      cursor: pointer;
      font-weight: 700;
      color: $main-color;
    }
  }
  a:last-child {
    color: $main-color;
  }
}

.ques_title {
  margin: 30px 0;

  p {
    font-size: 35px;
  }
}

// responser page
