// 기본적으로 지정하려는 scss 설정
@import './palette.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.innerBox {
  width: 80%;
  margin: 0 auto;

  p {
    font-family: $ques-font-default;
  }
}

.divide-line {
  background-color: #999999;
  width: 1.5px;
}

.flexBtw {
  display: flex;
  justify-content: space-between;
}

.btn_main {
  color: white;
  background-color: $main-color;
}

div[class*='btn_gradient'] {
  color: white;
  background: $gradient-color;
  border-radius: 5px;
}

.basic_profile_img {
  filter: opacity(50%);
}

// questioner page
.ques_navbar {
  margin-top: 50px;
  display: flex;

  li {
    font-family: $res-font-default;
    font-size: 16px;
    margin: 0 8px;

    &:hover {
      cursor: pointer;
      font-weight: 700;
      color: $main-color;
    }
  }
  a:last-child {
    color: $main-color;
  }
}

.ques_title {
  margin: 30px 0;

  p {
    font-size: 35px;
  }
}

// responser page
