// 기본적으로 지정하려는 scss 설정
@import './palette.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.innerBox {
  width: 80%;
  min-width: 1200px;
  max-width: 1440px;
  margin: 0 auto;

  &.res {
    p {
      font-family: 'Pretendard-Regular';
    }
  }

  &.ques {
    p {
      font-family: $ques-font-default;
    }
  }
}

.divide-circle {
  background-color: #999999;
  width: 3px;
  height: 3px;
  border-radius: 50px;
}

.divide-line {
  background-color: #dddddd;
  width: 1.5px;
}

.divide-list {
  background-color: #dddddd;
  width: 100%;
  height: 0.5px;
  margin: 26px 0;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;

  li {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;

    &.active {
      background-color: $main-color;
      color: #fff;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.flexBox {
  display: flex;
}

.flexBtw {
  display: flex;
  justify-content: space-between;
}

.btn_main {
  color: white;
  background-color: $main-color;
}

div[class*='btn_gradient'] {
  color: white;
  background: $gradient-color;
  border-radius: 5px;
}

.basic_profile_img {
  filter: opacity(50%);
}

.round_btn {
  font-size: 16px;
  font-family: $ques-font-default;
  color: $main-color;
  background-color: #fff;
  border-radius: 20px;
  border: 1.5px solid $main-color;
  padding: 5px 16px;
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  align-items: center;

  .icon {
    &.default {
      display: block;
    }
    &.hover {
      display: none;
    }
  }

  &:hover {
    color: #fff;
    background-color: $main-color;

    .icon {
      &.default {
        display: none;
      }
      &.hover {
        display: block;
      }
    }
  }
}
.gradient_btn {
  font-size: 16px;
  font-family: $ques-font-default;
  color: #fff;
  background: $gradient-color;
  border-radius: 10px;
  padding: 8px 10px;
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  .icon {
    margin-right: 5px;
  }
}

.search_section {
  width: 100%;
  height: 50px;

  .search-icon {
    cursor: pointer;
    position: relative;
    bottom: 50%;
    transform: translateY(-50%);
    left: 18px;
  }

  .search-input {
    border-style: none;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    padding: 15px 20px 15px 48px;
    border-radius: 10px;
    font-size: 18px;
    &:focus {
      outline-color: #c6c6c6;
    }
    &.ques {
      font-family: $ques-font-default;
    }
    &.res {
      font-family: $res-font-default;
    }
  }
}

// questioner page
.ques_navbar {
  margin-top: 50px;
  display: flex;

  li {
    font-family: $res-font-default;
    font-size: 16px;
    margin: 0 8px;

    &:hover {
      cursor: pointer;
      font-weight: 700;
      color: $main-color;
    }
  }
  a:last-child {
    color: $main-color;
  }
}

.ques_title {
  margin: 30px 0;

  p {
    &.bold {
      font-family: $ques-font-bold;
    }
    font-size: 35px;
  }
}

// responser page
