@import './palette.scss';

.banner_bg {
  width: 100%;
  height: 363px;
  background-color: #f8f8f8;

  .ques_navbar {
    margin: 0;
    padding-top: 50px;
  }

  .banner {
    display: flex;
    justify-content: space-between;

    .banner_text {
      .banner_title {
        font-family: $ques-font-bold;
        font-size: 40px;
        margin-top: 30px;
      }

      .banner_subtitle {
        font-family: $ques-font-default;
        font-size: 20px;
        margin-bottom: 45px;
      }

      li {
        list-style-type: disc;
        list-style-position: inside;
        font-family: $res-font-default;
        font-size: 18px;
        color: #777777;
        margin: 13px 0;
      }
    }

    .banner_img {
      margin-right: 70px;
      transform: translateY(-20px);
    }
  }
}

.partner_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2열
  margin-top: 25px;
  margin-bottom: 50px;

  .PartnerBox_comp {
    position: relative;
    display: flex;
    width: 600px;
    height: 155px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;

    img {
      height: 67px;
      margin: 0 29px;
      transform: translateY(-15px);
    }

    .info_content {
      .name {
        font-family: $ques-font-bold;
        font-size: 28px;
        margin-right: 10px;
      }

      .category {
        font-family: $ques-font-bold;
        font-size: 16px;
        color: #999999;
      }

      .expl {
        font-family: $ques-font-default;
        font-size: 18px;
        margin-bottom: 20px;
      }

      .level {
        font-family: $res-font-bold;
        font-size: 20px;
        color: $main-color;
        margin-right: 20px;
      }

      .answer,
      .point {
        font-family: $res-font-default;
        font-size: 18px;
        color: #999999;
        margin-right: 20px;
      }
    }

    .btn_apply {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 140px;
      height: 40px;
      border: 1px solid $main-color;
      border-radius: 5px;
      background-color: $main-color;
      color: #fff;
      font-family: $ques-font-bold;
      font-size: 18px;
      line-height: 40px;
      text-align: center;

      &:hover {
        background-color: #fff;
        color: $main-color;
      }
    }
  }

  .blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddddddbf;
    z-index: 1;
  }

  .partner_request {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    .partner_request_box {
      .partner_request_box_header {
        margin-bottom: 40px;

        p {
          font-family: $ques-font-bold;
          font-size: 25px;
        }

        button {
          border: none;
          background-color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.partner_more {
  text-align: center;

  button {
    width: 124px;
    height: 47px;
    font-size: 20px;
    font-family: $ques-font-default;
    color: $main-color;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid $main-color;
    cursor: pointer;
    margin-bottom: 70px;

    img {
      height: 20px;
      margin-right: 10px;
      transform: translateY(4px);
    }

    &:hover {
      color: #fff;
      background-color: $main-color;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
