// 기본적으로 지정하려는 scss 설정
@import './palette.scss';

.backgroundBox {
  
}
.main_box {
  height: 362px;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .main_title {
    height: 284px;

    .ques_navbar {
      margin-top: 8%;
      display: flex;

      li {
        font-family: $res-font-default;
        font-size: 16px;
        margin: 0 8px;

        &:hover {
          cursor: pointer;
          font-weight: 700;
          color: $main-color;
        }
      }
      a:last-child {
        color: $main-color;
      }
    }

    h1 {
      text-align: left;
      margin-top: 7%;
      font-family: $ques-font-default;
    }
    h3 {
      text-align: left;
      margin-top: 3%;
      font-family: 'KoPubWorld-Batang-Light';
    }

    .sub_content {
      margin-top: 10%;
      text-align: left;

      li {
        margin-top: 2%;
        list-style: inside;
        font-family: $res-font-default;
      }
    }
  }

  .main_image {
    padding-top: 3%;
    img {
      width: 362px;
      height: 284px;
    }
  }
}

.simulation_btn {
  width: 1440px;
  margin-top: 20px;
  display: flex;
  justify-content: left;

  li {
    margin-top: 40px;
    margin-right: 20px;

    button {
      font-size: 16px;
      font-family: $ques-font-default;
      color: $main-color;
      background-color: #fff;
      border-radius: 20px;
      border: 1.5px solid $main-color;
      padding: 5px 16px;
      line-height: 1.2;
      cursor: pointer;
    }
    button:hover {
      color: #fff;
      background-color: $main-color;
    }

    // 클릭된 버튼 색 다르게
    // button:active {
    //   color: #fff;
    //   border-color: $main-color;
    //   background-color: $main-color;
    // }
  }
}

.simulation_main_box {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    width: 30%;
    margin-top: 40px;

    .simulation_main_inner {
      width: 430px;
      margin-right: 10px;
      margin-bottom: 20px;
      border: 2px solid #eeeeee;
      border-radius: 20px;
  
      .inner_up {
        height: 140px;
        border-radius: 20px;
        background-color: #eeeeee;
  
        .successable {
          position: relative;
          top: 16px;
          left: 350px;
          width: 58px;
          height: 29px;
          background-color: $main-color;
          border-radius: 10px;
          color: #fff;
  
          p {
            position: relative;
            top: 2px;
            text-align: center;
            font-size: 16px;
          }
        }
  
        img {
          position: relative;
          top: 20px;
          left: 100px;
          width: 238px;
          height: 46px;
        }
      }
  
      .inner_down {
        width: 330px;
        height: 100px;
        background-color: #fff;
  
        .inner_down_title {
          padding-top: 20px;
          margin-left: 20px;
          font-family: $ques-font-bold;
          font-size: 23px;
        }
        .inner_down_subtitle {
          font-family: $ques-font-default;
          font-size: 16px;
          color: #999999;
          margin-left: 20px;
        }
      }
    }
  }
}

.simulation_update {
  width: 1440px;
  margin-top: 50px;
  margin-left: 300px;
  color: #999999;
  text-align: center;
}
