@import './palette.scss';

.SubWaySimulation1 {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;

    .SubwayDisplay1 {
        position: relative;
        width: 500px;
        height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)
        background-color: #007218;

        .Subway_home {
            position: absolute;
            width: 500px;
        }

        .Subway_kio1 {
            position: absolute;
            bottom: 63px;
            width: 500px;
            cursor: pointer;
            border: 6px solid $main-color;
        }

        .Subway_kio2 {
            position: absolute;
            width: 500px;
            bottom: 0;
        }

        .Subway_num {
            position: absolute; 
            bottom: 120px; 
            left: -32px;
        }
    }

    .SubwaySteb1 {
        width: 500px;
        height: 100%;
    }
}