@import './palette.scss';

.SubWaySimulation1 {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;

  .SubwayDisplay1 {
    position: relative;
    width: 500px;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)
    background-color: #007218;

    .Subway_home {
      position: absolute;
      width: 500px;
    }

    .Subway_kio1 {
      position: absolute;
      bottom: 63px;
      width: 500px;
      cursor: pointer;
      border: 6px solid $main-color;
    }

    .Subway_kio2 {
      position: absolute;
      width: 500px;
      bottom: 0;
    }

    .Subway_num {
      position: absolute;
      bottom: 120px;
      left: -32px;
    }
    .Subway_menu {
      position: absolute;
      width: 500px;
    }
    .Subway_kind {
      position: absolute;
      width: 500px;
      top: 18px;
      border: 6px solid $main-color;
    }
    .Subway_ham {
      position: absolute;
      top: 95px;
      left: 60px;
      cursor: pointer;
    }
    .Subway_num_menu {
      position: absolute;
      left: -40px;
      top: 20px;
    }
    .Subway_total {
      position: absolute;
      background-color: #000000;
      height: 310px;
      width: 500px;
      bottom: 0;

      .Subway_total_box {
        position: absolute;
        width: 500px;
        height: 50px;
        background-color: #292b31;
        display: flex;
        align-items: center;

        p {
          margin-left: 10px;
          color: yellow;
        }

        .Subway_total_count {
          margin-left: 220px;
          display: flex;
          p {
            margin-left: 25px;
          }
        }
<<<<<<< HEAD
      }
      .Subway_total_pay {
        height: calc(310px - 50px);
        img {
          position: absolute;
          height: calc(310px - 52px);
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
      }
=======
        .Subway_menu {
            width: 500px;
        }
>>>>>>> e792a22 (design/simul : 시뮬레이션 포장 선택 작업 중)
    }
  }

  .SubwaySteb1 {
    width: 500px;
    height: 100%;
  }
}
    .SubwaySteb1 {
        position: relative;
        width: 500px;
        background-color: #ffffff;
        height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)

        .ques_navbar {
            padding-left: 30px;
            font-size: 16px;
        }

        .subwaySteb {
            margin-top: 50px;
            ul {
                position: relative;
                font-family: $res-font-default;
                color: #999999;

                img {
                    margin-left: 30px;
                }
                .stick{
                    position: absolute;
                    top: 6px;
                    left: 10px;
                    height: 760px;
                }

                .start {
                    position: relative;
                    display: flex;
                    align-items:first baseline ;
                    height: 670px;
                    
                    .start_title {
                        margin-left: 20px;
                        font-size: 26px;
                        font-family:$ques-font-bold;
                        color: black;
                        list-style: none;
                    }
                    .start_content {
                        position: absolute;
                        font-family: $ques-font-default;
                        border-bottom: 1px solid;
                        left: 100px;
                        top: 60px;
                        list-style:decimal;
                        color: $main-color;
                        cursor: pointer;
                    }
                }
                .other {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    margin-left: 5px;

                    img {
                        z-index: 2;
                    }

                    li {
                        list-style: none;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

