@import './palette.scss';

.SubWaySimulation1 {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;

  .SubwayDisplay1 {
    position: relative;
    width: 500px;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)
    background-color: #007218;

    .Subway_home {
      position: absolute;
      width: 500px;
    }

    .Subway_kio1 {
      position: absolute;
      bottom: 63px;
      width: 500px;
      cursor: pointer;
      border: 6px solid $main-color;
    }

    .Subway_kio2 {
      position: absolute;
      width: 500px;
      bottom: 0;
    }

    .Subway_num {
      position: absolute;
      bottom: 120px;
      left: -32px;
    }
  }
  .SubwayDisplay2 {
    position: relative;
    width: 500px;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)
    background-color: #007218;

    .Subway_kio1 {
      position: absolute;
      bottom: 63px;
      width: 500px;
      cursor: pointer;
      border: 6px solid $main-color;
    }
    .Subway_menu {
      position: absolute;
      width: 500px;
    }
    .Subway_kind {
      position: absolute;
      width: 500px;
      top: 27px;
      border: 6px solid $main-color;
    }
    .Subway_ham {
      position: absolute;
      top: 110px;
      left: 60px;
      cursor: pointer;
    }
    .Subway_num_menu {
      position: absolute;
      left: -40px;
      top: 20px;
    }
    .Subway_total {
      position: absolute;
      background-color: #000000;
      height: 310px;
      width: 500px;
      bottom: 0;

      .Subway_total_box {
        position: absolute;
        width: 500px;
        height: 50px;
        background-color: #292b31;
        display: flex;
        align-items: center;

        p {
          margin-left: 10px;
          color: yellow;
        }

        .Subway_total_count {
          margin-left: 220px;
          display: flex;
          p {
            margin-left: 25px;
          }
        }
      }
      .Subway_total_pay {
        height: calc(310px - 50px);
        img {
          position: absolute;
          height: calc(310px - 52px);
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
  .SubwayDisplay3 {
    position: relative;
    width: 500px;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)
    background-color: #007218;

    .Subway_menu {
      position: absolute;
      width: 500px;
    }
    .Subway_kind {
      position: absolute;
      width: 500px;
      top: 27px;
      border: 6px solid $main-color;
    }
    .Subway_ham {
      position: absolute;
      top: 110px;
      left: 60px;
      cursor: pointer;
    }
    .Subway_num_menu {
      position: absolute;
      left: -40px;
      top: 20px;
    }
    .Subway_total {
      position: absolute;
      background-color: #000000;
      height: 310px;
      width: 500px;
      bottom: 0;

      .Subway_total_box {
        position: absolute;
        width: 500px;
        height: 50px;
        background-color: #292b31;
        display: flex;
        align-items: center;

        p {
          margin-left: 10px;
          color: yellow;
        }

        .Subway_total_count {
          margin-left: 220px;
          display: flex;
          p {
            margin-left: 25px;
          }
        }
      }
      .Subway_total_pay {
        height: calc(310px - 50px);
        img {
          position: absolute;
          height: calc(310px - 52px);
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
  .SubwayDisplay4 {
    position: relative;
    width: 500px;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)
    background-color: #007218;

    .opacity_dark {
      position: absolute;
      z-index: 3;
      opacity: 0.5;
      background-color: #202020;
      width: 500px;
      height: calc(100vh - 60px);
    }

    .Subway_choose {
      background-color: #ffffff;
      z-index: 4;
      position: absolute;
      left: 20px;
      top: 150px;
      width: 460px;
      height: 600px;

      .Subway_choose_title {
        background-color: #009224;
        margin-bottom: 15px;
        height: 70px;
        img {
          background-color: #009224;
          float: left;
          margin: 15px 30px;
        }
        p {
          padding-top: 18px;
          font-size: 22px;
          color: white;
          font-family: $res-font-bold;
        }
      }
      .Subway_choose_check {
        position: relative;
        height: 450px;
        width: 420px;
        margin-bottom: 15px;
        margin: 0 auto;

        .simple_choose {
          border: 5px solid #ff5628;
          height: 350px;
          .simple_choose_title {
            background-color: #ff5628;
            height: 60px;
            p {
              font-size: 20px;
              color: white;
              font-family: $res-font-bold;
              text-align: center;
              padding-top: 15px;
            }
          }
          .simple_choose_content {
            #check_btn1 {
              display: none;

              + label {
                cursor: pointer;
                span {
                  vertical-align: middle;
                  padding-left: 5px;
                }
              }
              + label:before {
                content: '';
                display: inline-block;
                width: 17px;
                height: 17px;
                border: 2px solid #d7d7d7;
                border-radius: 50%;
                vertical-align: middle;
              }
            }
            #check_btn1:checked + label:before {
              content: '';
              background-color: #009224;
              border-color: #009224;
              background-image: url('check_btn.png');
              background-repeat: no-repeat;
              background-position: 50%;
            }

            #check_btn2 {
              display: none;

              + label {
                cursor: pointer;
                span {
                  vertical-align: middle;
                  padding-left: 5px;
                }
              }
              + label:before {
                content: '';
                display: inline-block;
                width: 17px;
                height: 17px;
                border: 2px solid #d7d7d7;
                border-radius: 50%;
                vertical-align: middle;
              }
            }
            #check_btn2:checked + label:before {
              content: '';
              background-color: #009224;
              border-color: #009224;
              background-image: url('check_btn.png');
              background-repeat: no-repeat;
              background-position: 50%;
            }

            #check_btn3 {
              display: none;

              + label {
                cursor: pointer;
                span {
                  vertical-align: middle;
                  padding-left: 5px;
                }
              }
              + label:before {
                content: '';
                display: inline-block;
                width: 17px;
                height: 17px;
                border: 2px solid #d7d7d7;
                border-radius: 50%;
                vertical-align: middle;
              }
            }
            #check_btn3:checked + label:before {
              content: '';
              background-color: #009224;
              border-color: #009224;
              background-image: url('check_btn.png');
              background-repeat: no-repeat;
              background-position: 50%;
            }

            img {
              margin-top: 10px;
              position: absolute;
              height: 260px;
              right: 7px;
            }
          }
        }
        .whole_choose {
          img {
            position: absolute;
            bottom: 15px;
            width: 420px;
          }
        }
      }
      .Subway_choose_ok {
        background-color: #ffc20e;
        height: 70px;
        p {
          text-align: center;
          padding: 20px;
          font-size: 22px;
          color: black;
          font-family: $res-font-bold;
        }
      }
    }

    .Subway_menu {
      position: absolute;
      width: 500px;
    }
    .Subway_total {
      position: absolute;
      background-color: #000000;
      height: 310px;
      width: 500px;
      bottom: 0;

      .Subway_total_box {
        position: absolute;
        width: 500px;
        height: 50px;
        background-color: #292b31;
        display: flex;
        align-items: center;

        p {
          margin-left: 10px;
          color: yellow;
        }

        .Subway_total_count {
          margin-left: 220px;
          display: flex;
          p {
            margin-left: 25px;
          }
        }
      }
      .Subway_total_pay {
        height: calc(310px - 50px);
        img {
          position: absolute;
          height: calc(310px - 52px);
          right: 0;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }

  .SubwaySteb1 {
    position: relative;
    width: 500px;
    background-color: #ffffff;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)

    .ques_navbar {
      padding-left: 30px;
      font-size: 16px;
    }

    .subwaySteb {
      padding-top: 50px;
      ul {
        position: relative;
        font-family: $res-font-default;
        color: #999999;

        img {
          margin-left: 30px;
        }
        .stick {
          position: absolute;
          top: 6px;
          left: 10px;
          height: 690px;
        }

        .start {
          position: relative;
          display: flex;
          align-items: first baseline;
          height: 620px;

          .start_title {
            margin-left: 20px;
            font-size: 26px;
            font-family: $ques-font-bold;
            color: black;
            list-style: none;
          }
          .start_content {
            position: absolute;
            font-family: $ques-font-default;
            border-bottom: 1px solid;
            left: 100px;
            top: 60px;
            list-style: decimal;
            color: $main-color;
            cursor: pointer;
          }
        }
        .other {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-left: 5px;

          img {
            z-index: 2;
          }

          p {
            font-family: $res-font-default;
            list-style: none;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .SubwaySteb2 {
    position: relative;
    width: 500px;
    background-color: #ffffff;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)

    .ques_navbar {
      padding-left: 30px;
      font-size: 16px;
    }

    .subwaySteb {
      padding-top: 50px;
      ul {
        position: relative;
        font-family: $res-font-default;
        color: #999999;

        img {
          margin-left: 30px;
        }
        .stick {
          position: absolute;
          top: 6px;
          left: 10px;
          height: 690px;
        }

        .start {
          position: relative;
          display: flex;
          align-items: first baseline;
          height: 620px;

          .start_title {
            margin-left: 20px;
            font-size: 26px;
            font-family: $ques-font-bold;
            color: black;
            list-style: none;
          }
          .start_content {
            position: absolute;
            font-family: $ques-font-default;
            border-bottom: 1px solid;
            left: 100px;
            top: 60px;
            list-style: decimal;
            color: $main-color;
            cursor: pointer;
          }
          .second_content {
            position: absolute;
            font-family: $ques-font-default;
            left: 100px;
            top: 110px;
            list-style: decimal;
            color: black;
            cursor: pointer;
          }
          .third_content {
            position: absolute;
            font-family: $ques-font-default;
            left: 100px;
            top: 160px;
            list-style: decimal;
            color: black;
            cursor: pointer;
          }
        }
        .other {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-left: 5px;

          img {
            z-index: 2;
          }

          p {
            font-family: $res-font-default;
            list-style: none;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .SubwaySteb3 {
    position: relative;
    width: 500px;
    background-color: #ffffff;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)

    .ques_navbar {
      padding-left: 30px;
      font-size: 16px;
    }

    .subwaySteb {
      padding-top: 50px;
      ul {
        position: relative;
        font-family: $res-font-default;
        color: #999999;

        img {
          margin-left: 30px;
        }
        .stick {
          position: absolute;
          top: 6px;
          left: 10px;
          height: 690px;
        }

        .start {
          position: relative;
          display: flex;
          align-items: first baseline;
          height: 620px;

          .start_title {
            margin-left: 20px;
            font-size: 26px;
            font-family: $ques-font-bold;
            color: black;
            list-style: none;
          }
          .start_content {
            position: absolute;
            font-family: $ques-font-default;
            border-bottom: 1px solid;
            left: 100px;
            top: 60px;
            list-style: decimal;
            color: $main-color;
            cursor: pointer;
          }
          .second_content {
            position: absolute;
            font-family: $ques-font-default;
            left: 100px;
            top: 110px;
            list-style: decimal;
            color: black;
            cursor: pointer;
          }
          .option {
            position: absolute;
            top: 350px;
            left: 70px;

            .option_title {
              font-size: 20px;
              font-family: $ques-font-default;
              color: #000000;
              margin-bottom: 10px;
            }
            ul {
              li {
                list-style: inside;
                color: #555555;
                margin-top: 15px;
              }
              p {
                width: 350px;
                color: #555555;
                margin-left: 20px;
              }
            }
          }
        }
        .other {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-left: 5px;

          img {
            z-index: 2;
          }

          p {
            font-family: $res-font-default;
            list-style: none;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .SubwaySteb4 {
    position: relative;
    width: 500px;
    background-color: #ffffff;
    height: calc(100vh - 60px); // TODO : 100vh로 변경 필요  (헤더 삭제)

    .ques_navbar {
      padding-left: 30px;
      font-size: 16px;
    }

    .subwaySteb {
      padding-top: 50px;
      ul {
        position: relative;
        font-family: $res-font-default;
        color: #999999;

        img {
          margin-left: 30px;
        }
        .stick {
          position: absolute;
          top: 6px;
          left: 10px;
          height: 690px;
        }

        .start {
          position: relative;
          display: flex;
          align-items: first baseline;
          height: 620px;

          .start_title {
            margin-left: 20px;
            font-size: 26px;
            font-family: $ques-font-bold;
            color: black;
            list-style: none;
          }
          .start_content {
            position: absolute;
            font-family: $ques-font-default;
            border-bottom: 1px solid;
            left: 100px;
            top: 60px;
            list-style: decimal;
            color: $main-color;
            cursor: pointer;
          }
          .second_content {
            position: absolute;
            font-family: $ques-font-default;
            left: 100px;
            top: 110px;
            list-style: decimal;
            color: black;
            cursor: pointer;
          }
          .third_content {
            position: absolute;
            font-family: $ques-font-default;
            left: 100px;
            top: 160px;
            list-style: decimal;
            color: black;
            cursor: pointer;
          }
          .forth_content {
            position: absolute;
            font-family: $ques-font-default;
            left: 100px;
            top: 210px;
            list-style: decimal;
            color: black;
            cursor: pointer;
          }
          .option {
            position: absolute;
            top: 450px;
            left: 70px;

            .option_title {
              font-size: 20px;
              font-family: $ques-font-default;
              color: #000000;
              margin-bottom: 10px;
            }
            ul {
              li {
                list-style: inside;
                color: #555555;
                margin-top: 15px;
              }
              p {
                width: 350px;
                color: #555555;
                margin-left: 20px;
              }
            }
          }
        }
        .other {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-left: 5px;

          img {
            z-index: 2;
          }

          p {
            font-family: $res-font-default;
            list-style: none;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
