@import url(./font.scss);
@import url(./palette.scss);
@import url(./reset.scss);

@import url(./header.scss);

@import url(./simul.scss);
@import url(./index.scss);
@import url(./notice.scss);
@import url(./mypage.scss);
@import url(./mainPageAnswerer.scss);
@import url(./partnerQuestion.scss);
@import url(./login.scss);
@import url(./questionDetail.scss);
@import url(./join_select.scss);
@import url(./join_info.scss);
@import url(./mainQues.scss);
@import url(./simulSubway.scss);
@import url(./questionBoard.scss);
@import url(./createQuestion.scss);
@import url(./chat.scss);
@import url(./SimulationFin.scss);
