@import url(./font.scss);
@import url(./palette.scss);
@import url(./reset.scss);

@import url(./header.scss);

@import url(./simul.scss);
@import url(./index.scss);
@import url(./notice.scss);
@import url(./mypage.scss);
@import url(./MainPageAnswerer.scss);
@import url(./PartnerQuestion.scss);
@import url(./login.scss);
@import url(./QuestionDetail.scss);
@import url(./join_select.scss);
@import url(./join_info.scss);
@import url(./MainQues.scss);
